.baner {
    width: 80%;
    margin: 40px auto;
}

.img {
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.botao {
    opacity: 1 !important;
}

.icone {
    background-color: red;
    padding: 20px;

}