.baner {
  width: 80%;
  margin: 40px auto;
}

.img {
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.botaoPrev,
.botaoNext {
  opacity: 0.5 !important;
  &:hover {
    opacity: 1 !important;
  }
}

.botaoPrev:hover .icone {
  animation: botaoPrev infinite alternate 200ms ;
}

.botaoNext:hover .icone {
  animation: botaoNext infinite alternate 200ms;
}

.icone {
  background-color: red;
  padding: 20px;
  border-radius: 10px;
}

@keyframes botaoPrev {
  to {
    transform: translateX(-10px);
  }
}

@keyframes botaoNext {
  to {
    transform: translateX(10px);
  }
}
